extends ../layout

block content
    h2 #{title}
    // how to call a controller action
    //button(onclick='#tables/rescan') Click

    a.button(href='tables/rescan') Rescan

    a.button(href='tables/getRecordCounts') Get Record Counts

    // -var tables=,'table2']
    div Tables : #{tables.length}

    table
        each table in tables
            tr
                td
                    a(href="tables/show/#{table.name}")  #{table.name}
                td #{table.count}
                td
                    a(href="tables/read/#{table.name}")  Read
                td
                    a(href="tables/scan/#{table.name}")  Scan
                td
                    a(href="tables/count/#{table.name}")  Count
                td
                    a(href="tables/meta/#{table.name}")  Meta Read/Write
                td
                    a(href="tables/inserts/#{table.name}")  Inserts
                //td
                //    a(href="tables/deletes/#{table.name}")  Deletes
                //td
                //    a(href="tables/updates/#{table.name}")  Updates


